<MudMenu Label="Menu" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Dense=true>
    <MudMenuItem Label="Chat" />
    <MudMenuItem Label="Phone" />
    <MudMenuItem Label="Chat" />
    <MudMenuItem Label="Phone" />
    <MudMenuItem Label="Chat" />
    <MudMenuItem Label="Phone" />
    <MudMenuItem Label="Chat" />
    <MudMenuItem Label="Phone" />
    <MudMenuItem Label="Chat" />
    <MudMenuItem Label="Phone" />

    <MudMenu AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Dense=true
             Class="mud-list-item mud-list-item-dense mud-list-item-gutters mud-list-item-clickable mud-ripple">
        <ActivatorContent>
            <div class="mud-list-item-text">Way more options...</div>
        </ActivatorContent>

        <ChildContent>
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
            <MudMenuItem Label="Chat" />
            <MudMenuItem Label="Phone" />
        </ChildContent>
    </MudMenu>
</MudMenu>

            @code {
    public static string __description__ = "Test popovers using mudlist that exceed the height of the screen to show a scrollbar instead of causing the screen to scroll.";
            }