<div Style="margin-top:50px">
    Filled without AutoGrow
    <MudTextField T="string" Label="example" Variant="Variant.Filled"/>
</div>

<div Style="margin-top:50px">
    Filled with AutoGrow
    <MudTextField T="string" Label="example" Variant="Variant.Filled" AutoGrow/>
</div>

<div Style="margin-top:50px">
    Filled , Dense without AutoGrow
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Filled"/>
</div>

<div Style="margin-top:50px">
    Filled , Dense with AutoGrow
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Filled" AutoGrow/>
</div>

<div Style="margin-top:50px">
    AutoGrow with MaxLines test
    <MudTextField T="string" MaxLines="5" Label="example" Variant="Variant.Filled" AutoGrow/>
</div>

<div Style="margin-top:50px">
    Outlined without AutoGrow
    <MudTextField T="string" Label="example" Variant="Variant.Outlined"/>
</div>

<div Style="margin-top:50px">
    Outlined with AutoGrow
    <MudTextField T="string" Label="example" Variant="Variant.Outlined" AutoGrow/>
</div>

<div Style="margin-top:50px">
    Outlined , Dense without AutoGrow
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Outlined"/>
</div>

<div Style="margin-top:50px">
    Outlined , Dense with AutoGrow
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Outlined" AutoGrow/>
</div>
