@page "/"
@using MudBlazor.Docs
@layout MainLayout

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="8" md="6" Class="py-16">
            <MudBlazorLogo />
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.h2" Align="Align.Center">Try<span style="color: #594ae2;">MudBlazor</span></MudText>
            <MudText Class="my-3" Align="Align.Center">A playground for trying out and testing 
                <MudLink Href="https://mudblazor.com" Target="_blank">MudBlazor</MudLink> components entirely in the browser.</MudText>
            <MudGrid Justify="Justify.Center" Class="my-5">
                <MudItem>
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" Link="/repl">Try out now</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>
@*<Footer/>*@