@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @(Text ?? string.Empty)
    }
</div>