@if (Show)
{
<div class="user-page-overlay">
    <div class="user-page-loader">
        <div class="spinner-border" role="status"></div>
    </div>
</div>
<div class="user-page-loader-text">@Message</div>
}
