@namespace MudBlazor.Docs

<MudDivider Class="mt-16" />
<MudContainer>
    <div class="docs-footer">
        <MudGrid>
            <MudItem xs="12" sm="3">
                <div style="text-align:center">
                    <h1>Try</h1>
                    <h1 class="my-2">+</h1>
                    <h1>MudBlazor</h1>
                </div>
            </MudItem>
            <MudItem xs="12" sm="3">
                <MudText>Community</MudText>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://github.com/Garderoben/MudBlazor" Target="_blank">Github</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://gitter.im/MudBlazor/community" Target="_blank">Gitter</MudLink>
                    </li>
                </ul>
            </MudItem>
            <MudItem xs="12" sm="3">
                <MudText>MudBlazor</MudText>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://mudblazor.com/" Target="_blank">Website</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://www.nuget.org/packages/MudBlazor/">Package</MudLink>
                    </li>
                </ul>
            </MudItem>
            <MudItem xs="12" sm="3">
                <MudText>Blazor Repl</MudText>
                <ul>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://blazorrepl.com/">Website</MudLink>
                    </li>
                    <li>
                        <MudLink Typo="Typo.body2" Href="https://github.com/BlazorRepl/BlazorRepl">Source Code</MudLink>
                    </li>
                </ul>
            </MudItem>
        </MudGrid>
        <MudText Style=" padding-top: 50px; text-align: center;" Typo="Typo.body2"><MudLink Typo="Typo.body2" Href="https://github.com/henon/TryMudBlazor/blob/master/LICENSE" Target="_blank">GNU General Public License v2.0.</MudLink></MudText>
    </div>
</MudContainer>
