@inherits LayoutComponentBase

<MudThemeProvider Theme="TryMudBlazor" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="mud-main-content mudblazor-main-content">
    <PageNotifications @ref="@PageNotificationsComponent"></PageNotifications>
    <CascadingValue Value="@PageNotificationsComponent">
        @Body
    </CascadingValue>
</div>

@code {
    MudTheme TryMudBlazor = new MudTheme()
    {
        Palette = { Background = "#fafafa" },
    };
}
