@using System.Globalization;

<MudPopoverProvider />

<h3>Persian DatePicker</h3>

<MudDatePicker Label="Date Format" @bind-Date="_date"
               HelperText="Persian" DateFormat="yyyy/MM/dd"
               Culture="@CultureInfo.GetCultureInfo("fa-Ir")" />

@code { 
    private DateTime? _date = new DateTime(2021, 02, 14); 
}
